.app-container{
  background-color: #b3e6ff;
  height: 100vh;
  padding-top:20px ;
}

.app-tital{
text-align: center;
}
.list-group{
  width: 500px;
  height: 60vh;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;

}
.input-container{
width: 500px;
margin: 0 auto;
display: flex;align-items: center;
justify-content: center;

}
.input-todo{
  font-size: 25px;
  
}
.add-icon{
  height: 70px;
}